

.down{
    padding: 0;
    background-color: $secondary-color;
    position: fixed;
    top: -35px;
    flex-direction: row;
    height: 80px;
    width: 100%;
    #logo{
        margin: 0 1em;
        animation: logoTranslationLeft 1s ease-out 0s 1 normal forwards;
    }
    div{
        .show{
            background-color: $secondary-color;
            transform: translateX(-2em) translateY(5em);
            opacity: 1;
        }
    }
}

@keyframes logoTranslationLeft {
    0%{
        transform: translateX(-5em);
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        transform: translateX(0em);
        opacity: 1;
    }
}

@keyframes logoTranslationTop {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

header{
    z-index: 99999;
    transition: 1s;
    height: 120px;
    position: fixed;
    width: 100%;
    background-color: $primary-color;
    min-height: 4em;
    padding: 0 0 10px 0;
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    justify-content: flex-start;

    box-shadow: 0px 2px 19px -6px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 2px 19px -6px rgba(0,0,0,1);
    -moz-box-shadow: 0px 2px 19px -6px rgba(0,0,0,1);

    #logo{
        animation: logoTranslationTop 1.7s ease-in-out 0s 1 normal forwards;
        padding: .5em 0;
        width: 15%;
        margin: auto;
        max-width: 5.5em;
        min-width: 4em;
        img{
            width: auto;
            transition: 1s;
        }
        img:hover{
            cursor: pointer;
            transition: 1s;
            transform: rotateZ(5deg) scale(1.1);
        }
    }
    div{
        display: flex;
        justify-content: center;
        width: 100%;
        //Beggining of the hamburger button *open*
        #menuContainer{
            width: 0;
            #menu{
                display: none;
            }
            #menu, #menu::before, #menu::after{
                margin: auto;
                height: 5px;
                border-radius: 25%;
                width: 2em;
                border: none;
            }.open{
                transition: .5s;
                background-color: $hamburger-color;
            }
            .open::before, .open::after{
                background: inherit;
            }
            .open::before{
                transform: translateY(-10px);
            }
            .open::after{
                transform: translateY(10px);
            }
            .open::before, .open::after, .close::before, .close::after{
                content: '';
                position: absolute;
                transition: .3s;
            }
            //Beggining of the hamburger button *close*
            .close{
                background-color: rgba($hamburger-color, 0);
            }
            .close::before, .close::after{
                background-color: $hamburger-color;
            }
            .close::before{
                transform: translateY(0px) rotateZ(-45deg);
            }
            .close::after{
                transform: translateY(0px) rotateZ(45deg);
            }
        }
        .animated{
            animation: logoTranslationTop 1s linear 0s 1 normal forwards;
        }
        nav{
            display: flex;
            margin: auto;
            height: 34.6px;
            width: 100%;
            max-width: 60em;
            justify-content: center;
            ul{
                font-size: 1em;
                font-weight: 400;
                border-radius: 0px 0px 0px 10%;
                padding: 0;
                display: flex;
                flex-direction: row;
                list-style: none;
                width: 100%;
                max-width: 60em;
                justify-content: space-evenly;
                margin: auto;
                transition: 1s;
                li{
                    display: flex;
                    text-align: center;
                    a{
                        color: inherit;
                        display: inline;
                        width: 100%;
                        padding: .5em;
                    }
                }
                li:hover{
                    cursor: pointer;
                    border-top: 1.2px solid black;
                    border-bottom: 1.2px solid black;
                }
            }   
        }
    }
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: .8em 0;
    margin: 0;
    background-color: $primary-color;
    div{
        font-size: 1.02em;
        display: flex;
        justify-content: flex-start;
        width: 30%;
        min-height: 6.3em;
        min-width: 12em;
        flex-direction: column;
        h3{
            text-align: center;
            width: 100%;
            border-bottom: 2px solid black;
            text-transform: uppercase;
            font-weight: lighter;
        }
        div{
            margin: 0 auto;
            width: 80%;
            font-size: .97em;
        }
    }
    #social{
        div{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
    #contact{
        a{
            padding: .6em 0;
            text-align: center;
            border:1px solid black;
            font-weight: bold;
            transition: .3s;
        }
        a:hover{
            transition: .3s;
            background-color: $hamburger-color;
            color: $primary-color;
        }
    }
    #address{
        div{
            transform: translateY(-15.830px);
            margin: 0 auto;
            display: grid;
            grid-template-columns: 25% auto;
            a{
                margin: auto;
            }
        }
    }
}
@media only screen and (max-width: 650px) and (min-width: 0px){
    footer{
        flex-direction: column;
        justify-content: space-between;
        div{
            margin: auto;
            width: 80%;
        }

    }
}
@media only screen and (max-width: 500px) and (min-width: 0px){
    header{
        padding: 0;
        flex-direction: row;
        height: 80px;
        justify-content: space-between;
        z-index: 9999;
        #logo{
            margin: 0 1em;
        }
        div{
            width: auto;
            margin: 0 .5em;
            #menuContainer{
                width: auto;
                #menu{
                    display: flex;
                }
            }
            .animated{
                animation-name: none;
            }
            nav{
                height: auto;
                position: absolute;
                width: 10em;
                ul{
                    height: auto;
                    position: absolute;
                    flex-direction: column;
                    li{
                        justify-content: center;
                        margin: .5em 0;
                    }
                }
                .show{
                    background-color: $primary-color;
                    transform: translateX(-2em) translateY(5em);
                    opacity: 1;

                    box-shadow: 0px 12px 19px -15px rgba(0,0,0,1);
                    -webkit-box-shadow: 0px 12px 19px -15px rgba(0,0,0,1);
                    -moz-box-shadow: 0px 12px 19px -15px rgba(0,0,0,1);
                }
                .hiden{
                    transform: translateX(10em) translateY(2em);
                    opacity: 0;
                }
            
            }
        }
    }
}