#background{
    margin: 0;
    transition: .3s;
    padding: 15rem 0 .1rem 0;
    width: 100%;
    background-attachment: fixed;
    min-height: 100vh;
    background-image: url(../../images/textures/brickWall.png);
    #container{
        color: white;
        box-shadow: 0px 0px 21px 3px rgba(0,0,0,1) inset, 0px 0px 21px 7px rgba(0,0,0,1);
        -webkit-box-shadow: 0px 0px 21px 3px rgba(0,0,0,1) inset, 0px 0px 21px 7px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 21px 3px rgba(0,0,0,1) inset, 0px 0px 21px 7px rgba(0,0,0,1);

        padding: 2rem 0;
        border: 3rem solid transparent;
        border-image: url(../../images/textures/woodTexture1.jpg) 110 repeat;
        background: url(../../images/textures/bg.png);

        display: flex;
        flex-direction: column;
        width: 80%;
        display: flex;
        margin: 0 auto 5rem auto;
        #title{
            display: flex;
            width: 100%;
            justify-content: space-around;
            flex-direction: row;
            h1{
                width: 65%;
                display: block;
                font-size: 2.9rem;
                margin: auto auto;
                text-align: center;
                font-family: apple;
            }
            h1::before, h1::after{
                content: '●';
                flex-direction: column;
                font-size: 1.3rem;
                margin: auto .5rem;
            }
            span{
                margin: 0 auto;
                font-size: 8rem;
            }
            #doodle{
                width: 7rem;
            }
            .label{
                border: 1px dashed white;
                font-size: 1.4em;
                width: fit-content;
                text-align: center;
                padding: .5em;
                margin: 1em auto;
                animation: twist 1.5s ease-out .3s 1 normal forwards, pump 2s ease-out 1.8s infinite alternate-reverse forwards;
                transform: rotateZ(10deg)scale(.8);
                p{
                    font-family: varta;
                    margin: 0;
                    strong{
                        text-decoration: underline;
                    }
                }
            }
            @keyframes twist {
                0%{
                    transform:rotateZ(10deg) scale(.8);
                }
                100%{
                    transform: rotateZ(-10deg)scale(.9);
                }
            }
            @keyframes pump {
                0%{
                    transform:scale(.8)rotateZ(-10deg);
                }
                100%{
                    transform: scale(.9)rotateZ(-10deg);
                }
            }
        }
        #board{
            display: grid;
            margin: auto;
            width: 90%;
            grid-template-columns: auto auto auto;
            column-gap: 4rem;
            row-gap: 1.5em;
            .multiple{
                .sizes{
                    display: flex;
                    flex-direction: row;
                    width: 7rem;
                    min-width: 0;
                    margin: 0 0 0 auto;
                    p{
                        margin: 0 auto 0 auto;
                    }
                }
                .item{
                    grid-template-columns: auto 7rem;
                }
            }
            .prices{
                min-width: 0px;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
                column-gap: 1rem;
                p{
                    padding: 0;
                    text-align: center;
                }
            }
            div{
                height: fit-content;
                min-width: 300px;
                .doodle{
                    display: flex;
                    font-size: 7em;
                    width: fit-content;
                    margin: 0 auto;
                    justify-content: center;
                }
                .item{
                    display: grid;
                    grid-template-columns: auto 3.7rem;
                    column-gap: .5rem;
                    margin-bottom: 1.5rem;
                    p{
                        margin: 0;
                        font-weight: bold;
                    }
                    p:nth-child(2){
                        margin: auto;
                        font-weight: bold;
                    }
                    .description{
                        padding-top: .4em;
                        width: 100%;
                        border-top: .15rem dashed white;
                        grid-column-start: 1;
                        grid-column-end: 3;
                        grid-row-start: 2;
                        grid-row-end: 3;
                        p{
                            text-align: start;
                            font-weight: normal;
                        }
                    }
                }
            }
            h3{
                font-size: 1.5rem;
            }
            .item{
                transition: .3s;
            }
            .item:hover{
                background-color: #080808;
                transition: .3s;
            }
        }
    }
    .black{
        background-color: #232323c0;
        margin: 0 auto 5em auto;
        width: 85%;
        padding: 2em 0;
    }
    .header{
        width: 30%;
        min-width: 240px;
        margin: 0rem auto;
        padding-top: 1rem;
        h1{
            text-align: center;
            font-size: 3.1rem;
            margin: 0;
            color: black;
        }
        h1::before, h1::after{
            content: '●';
            color: rgb(139, 79, 0);
            flex-direction: column;
            font-size: 1.5rem;
            margin: auto .5rem;
        }
    }
    .body{
        width: 75%;
        padding: 2.5rem 3rem;
        margin: 3rem auto;
        p{
            color: black;
            font-family: varta-midum;
            font-size: 1.3rem;
        }
        #cursive{
            width: 45%;
            min-width: 250px;
            font-weight: bold;
            margin: auto;
            font-family: apple;
            text-align: center;
            font-size: 1.8rem;
            line-height: 3.5rem;
        }
    }
    .blank{
        box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.86);
        -webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.86);
        -moz-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.86);
        background-color: #ffffffd5;
        #events_img{
            width: 100%;
            display: flex;
            border: 1px solid black;
            flex-direction: row;
            justify-content: start;
            img{
                display: inline;
                width: 100%;
            }
        }
    }
    #info{
        color: white;
        h3{
            font-family: apple;
            font-size: 3em;
            text-align: center;
            width: 80%;
            border-bottom: 2px solid #c79c60;
        }
        span{
            font-size: 3.5em;
            color: #c79c60;
        }
        div{
            display: flex;            
            flex-direction: column;
            width: 85%;
            margin: auto;
            align-items: center;
            div{
                margin-top: 1em;
                text-align: start;
                p{
                    font-size: 1.2em;
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 1436px) and (min-width: 740px){
    #background{
        #container{
            border-width: 2.4rem;
            #title{
                h1{
                    font-size: 2rem;
                }
            }
            #board{
                grid-template-columns: auto auto;
                grid-template-rows: auto auto auto;
            }
        }
    }
}

@media only screen and (max-width: 930px) and (min-width: 0px){
    #background{
        #container{
            border-width: 1.6rem;
            width: 75%;
            #title{
                flex-direction: column;
                h1{
                    font-size: 1.7rem;
                    line-height: 2.3;
                }
                span{
                    width: fit-content;
                    margin: auto;
                }
            }
            #board{
                grid-template-columns: auto;
                grid-template-rows: auto auto auto;
                div{
                    min-width: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 500px) and (min-width: 0px){
    #background{
        padding-top: 10rem;
        #container{
            #title{
                margin-bottom: -1rem;
                h1{
                    font-size: 1.7rem;
                    line-height: 2.3;
                }
            }
        }
        .header{
            padding-top: .7rem;
            h1{
                font-size: 2rem;
            }
        }
        .body{
            width: 85%;
            padding: 1rem 1rem;
            margin: 2.5rem auto;
            #events_img{
                .zoom-in{
                    position: absolute;
                    margin: auto;
                    left: 0;
                    padding: 0;
                    animation: zoom-in .5s ease-out 0s 1 normal forwards;
                    transition: .3s;
                }
            }
            @keyframes zoom-in {
                0%{
                    width: 50%;
                }
                100%{
                    width: 100%;
                }
            }
            p{
                color: black;
                font-family: varta-midum;
                font-size: 1.2rem;
            }
            #cursive{
                width: 100%;
                min-width: 130px;
                font-size: 1.3rem;
                line-height: 2.5rem;
            }
        }
    }
    #info{
        h3{
            font-size: 2em;
            text-align: center;
            width: 80%;
            border-bottom: 1px solid #c79c60;
        }
        span{
            font-size: 2.5em;
            color: #c79c60;
        }
        div{
            display: flex;            
            flex-direction: column;
            width: 90%;
            margin: auto;
            align-items: center;
            div{
                margin-top: 1em;
                text-align: start;
                p{
                    font-size: 1.2em;
                    width: 100%;
                }
            }
        }
    }
}