<section id="background">
    <div id="info" class="blank header">
        <h1>{{title}}</h1>
    </div>

    <div id="info" class="blank body">
        <p>
            Lokal is an independent coffee shop and café in Kitsilano, owned by Zoran Milakovic and Sara D’Aviri.
        </p>
        <p>
            We created Lokal in homage of our European roots, with authentic Italian-style coffees, gourmet sandwiches
            and salads, fresh pastries, and, on the weekends, homemade tiramisu (Sara’s specialty). It’s a café born
            from the things we love, with curated music, an inviting atmosphere, and innovative design.</p>
        <p>
            Our friends Ranko and Aleksandra helped create our homey but unconventional décor, including custom
            furniture and a coffee bar made from an old barn roof. However, the most important thing is our customers.
        </p>
        <p>
            Our staff provides warm, personalized and friendly service, always endeavoring to make guests feel
            completely at home.
        </p>
        <p id="cursive">
            We look forward to welcoming you at Lokal !!
        </p>
    </div>
</section>