<section id="recycledTexture">
    <div id="card_container">
        <span class="icon-N"></span>
        <h2>{{title}}</h2>
        <p class="underline"></p>
        <form method="" id="contact_form">
            <div class="name">
                <label for="name"></label>
                <input type="text" placeholder="My name is" name="name" id="name_input" required>
            </div>
            <div class="email">
                <label for="email"></label>
                <input type="email" placeholder="My e-mail is" name="email" id="email_input" required>
            </div>
            <div class="subject">
                <label for="name"></label>
                <input type="text" placeholder="Subject is" name="subject" id="subject_input" required>
            </div>
            <div class="message">
                <label for="message"></label>
                <textarea resize="disabled" name="message" placeholder="Message" id="" cols="30" required></textarea>
            </div>
            <div class="submit">
                <input type="submit" name="submit" value="Send Message" id="button">
            </div>
        </form>
    </div>
</section>