<section id="background">
    <div id="info" class="blank header">
        <h1>{{title}}</h1>
    </div>

    <div id="info" class="blank body">
        <div id="events_img" >
            <img id="eventImg" src="{{event_details.img}}" alt="">
        </div>
        <p>{{event_details.imgs}}</p>
        <p id="cursive">
            We believe
        </p>
        <p>
            Music, good wine, delicious food and inviting atmosphere is a winning combination for a memorable night.
        </p>
        <p>
            Check out our calendar for music events at Cafe Lokal.
        </p>
        <p>
            While musicians will entertain you, we will be offering a simple selections of wines, beers and spirits, as
            well as antipasto platters and bruschettas.
        </p>
    </div>
</section>