<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel="stylesheet" href="./stylesheets/normalize.css">
</head>

<body>
  <header>
    <div id="logo"><img src="./images/LOGO.svg" alt="cafe_lokal_LOGO"></div>
    <div>
      <div id="menuContainer">
        <div id="menu" class="open"></div>
      </div>
      <nav>
        <ul id="menuList" class="hiden">
          <li><a href="#">Home</a></li>
          <li><a href="#">Coffee</a></li>
          <li><a href="#">Food</a></li>
          <li><a href="#">Drinks</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="cosa">cosa</div>
  {{{body}}}
  <footer>
    <div id="social">
      <h3>social media</h3>
      <div>
        <a href="#">insta</a>
        <a href="#">facebook</a>
      </div>
    </div>
    <div id="contact">
      <h3>contact us</h3>
      <div>
        <a href="#">Contact</a>
      </div>
    </div>
    <div id="address">
      <h3>address</h3>
      <div>
        <a href="#">add</a>
        <p>2610 W.4th Avenue Vancouver, BC V6K 1P8</p>
        <a href="#">tel</a>
        <p>604-739-0098</p>
        <a href="#">mail</a>
        <p>cafelokal@gmail.com</p>
      </div>
    </div>
  </footer>
  <script src="./javascripts/script.js"></script>
</body>

</html>