<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='./stylesheets/style.css' />
  <link rel="stylesheet" href="./stylesheets/normalize.css">
</head>

<body>
  <header>
    <div id="logo"><img src="./images/LOGO.svg" alt="cafe_lokal_LOGO"></div>
    <div>
      <div id="menuContainer">
        <div id="menu" class="open"></div>
      </div>
      <nav>
        <ul id="menuList" class="hiden">
          <li><a href="/">Home</a></li>
          <li><a href="/coffee">Coffee</a></li>
          <li><a href="/food">Food</a></li>
          <li><a href="/drinks">Drinks</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </nav>
    </div>
  </header>
  {{{body}}}
  <footer>
    <div id="social">
      <h3>social media</h3>
      <div>
        <a href="https://www.instagram.com/cafelokal/" target="blank"><span class="icon-instagram"></span></a>
        <a href="https://www.facebook.com/cafelokalkits" target="blank"><span class="icon-facebook"></span></a>
      </div>
    </div>
    <div id="contact">
      <h3>contact us</h3>
      <div>
        <a href="#">Contact</a>
      </div>
    </div>
    <div id="address">
      <h3>address</h3>
      <div>
        <a href="https://www.google.ca/maps/place/Cafe+Lokal/@49.2681736,-123.1646783,15z/data=!4m5!3m4!1s0x0:0x90462c0406c66c0!8m2!3d49.2681736!4d-123.1646783" target="blank"><span class="icon-location"></span>2610 W.4th Avenue Vancouver, BC V6K 1P8</a>
        <a href="tel:6047390098" target="blank"><span class="icon-phone"></span>604-739-0098</a>
        <a href="mailto:cafelokal@gmail.com" target="blank"><span class="icon-gmail"></span>cafelokal@gmail.com</a>
      </div>
    </div>
  </footer>
  <script defer src="./javascripts/script.js"></script>
</body>

</html>