<section id="background">
    <div id="container">
        <div id="title">
            <h1>{{title}}</h1>
            <span class="icon-d2"></span>
        </div>
        <div>
            <div>uno</div>
            <div>dos</div>
            <div>tres</div>
        </div>
    </div>
</section>