@font-face {
  src: url(../../fonts/HomemadeApple-Regular.ttf);
  font-family: apple; }

@font-face {
  src: url(../../fonts/Varta-VariableFont_wght.ttf);
  font-family: varta; }

@font-face {
  src: url(../../fonts/Varta-Medium.ttf);
  font-family: varta-midum; }

@font-face {
  src: url(../../fonts/Varta-Light.ttf);
  font-family: varta-light; }

.down {
  background-color: rgba(255, 255, 247, 0.8);
  position: fixed;
  top: -35px;
  flex-direction: row;
  height: 80px;
  width: 100%; }
  .down #logo {
    margin: 0 1em;
    animation: logoTranslationLeft 1s ease-out 0s 1 normal forwards; }
  .down div .show {
    background-color: rgba(255, 255, 247, 0.8);
    transform: translateX(-2em) translateY(5em);
    opacity: 1; }

@keyframes logoTranslationLeft {
  0% {
    transform: translateX(-5em);
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    transform: translateX(0em);
    opacity: 1; } }

@keyframes logoTranslationTop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  z-index: 99999;
  transition: 1s;
  height: 120px;
  position: fixed;
  width: 100%;
  background-color: #fffff7;
  min-height: 4em;
  padding: 0;
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  box-shadow: 0px 2px 19px -6px black;
  -webkit-box-shadow: 0px 2px 19px -6px black;
  -moz-box-shadow: 0px 2px 19px -6px black; }
  header #logo {
    animation: logoTranslationTop 1.7s ease-in-out 0s 1 normal forwards;
    padding: .5em 0;
    width: 15%;
    margin: auto;
    max-width: 5.5em;
    min-width: 4em; }
    header #logo img {
      width: auto;
      transition: 1s; }
    header #logo img:hover {
      cursor: pointer;
      transition: 1s;
      transform: rotateZ(5deg) scale(1.1); }
  header div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 1em; }
    header div #menuContainer {
      width: 0; }
      header div #menuContainer #menu {
        display: none; }
      header div #menuContainer #menu, header div #menuContainer #menu::before, header div #menuContainer #menu::after {
        margin: auto;
        height: 5px;
        border-radius: 25%;
        width: 2em;
        border: none; }
      header div #menuContainer .open {
        transition: .5s;
        background-color: #242424; }
      header div #menuContainer .open::before, header div #menuContainer .open::after {
        background: inherit; }
      header div #menuContainer .open::before {
        transform: translateY(-10px); }
      header div #menuContainer .open::after {
        transform: translateY(10px); }
      header div #menuContainer .open::before, header div #menuContainer .open::after, header div #menuContainer .close::before, header div #menuContainer .close::after {
        content: '';
        position: absolute;
        transition: .3s; }
      header div #menuContainer .close {
        background-color: rgba(36, 36, 36, 0); }
      header div #menuContainer .close::before, header div #menuContainer .close::after {
        background-color: #242424; }
      header div #menuContainer .close::before {
        transform: translateY(0px) rotateZ(-45deg); }
      header div #menuContainer .close::after {
        transform: translateY(0px) rotateZ(45deg); }
    header div .animated {
      animation: logoTranslationTop 1s linear 0s 1 normal forwards; }
    header div ul {
      height: 35px;
      border-radius: 0px 0px 0px 10%;
      padding: 0;
      display: flex;
      flex-direction: row;
      list-style: none;
      width: 100%;
      max-width: 60em;
      justify-content: space-evenly;
      margin: auto;
      transition: 1s; }
      header div ul li {
        display: flex;
        text-align: center; }
        header div ul li a {
          text-decoration: none;
          color: inherit;
          display: inline;
          width: 100%;
          padding: .5em; }
      header div ul li:hover {
        cursor: pointer;
        border-top: 1.2px solid black;
        border-bottom: 1.2px solid black; }

@media only screen and (max-width: 500px) and (min-width: 0px) {
  header {
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    z-index: 9999; }
    header #logo {
      margin: 0 1em; }
    header div {
      width: auto; }
      header div #menuContainer {
        width: auto; }
        header div #menuContainer #menu {
          display: flex; }
      header div .animated {
        animation-name: none; }
      header div ul {
        height: auto;
        position: absolute;
        flex-direction: column;
        width: 10em; }
        header div ul li {
          justify-content: center;
          margin: .5em 0; }
      header div .show {
        background-color: #fffff7;
        transform: translateX(-2em) translateY(5em);
        opacity: 1;
        box-shadow: 0px 12px 19px -15px black;
        -webkit-box-shadow: 0px 12px 19px -15px black;
        -moz-box-shadow: 0px 12px 19px -15px black; }
      header div .hiden {
        transform: translateX(10em) translateY(2em);
        opacity: 0; } }

* {
  font-family: varta; }

body {
  background-color: lightblue;
  position: relative;
  overflow-x: hidden; }
  body #test {
    margin: 0;
    padding: auto;
    margin-top: 1000px;
    margin-bottom: 0;
    background-color: red; }

/*# sourceMappingURL=style.css.map */