@charset "UTF-8";
@font-face {
  src: url(../../fonts/HomemadeApple-Regular.ttf);
  font-family: apple; }

@font-face {
  src: url(../../fonts/Varta-VariableFont_wght.ttf);
  font-family: varta; }

@font-face {
  src: url(../../fonts/Varta-Medium.ttf);
  font-family: varta-midum; }

@font-face {
  src: url(../../fonts/Varta-Light.ttf);
  font-family: varta-light; }

.down {
  padding: 0;
  background-color: rgba(255, 255, 247, 0.8);
  position: fixed;
  top: -35px;
  flex-direction: row;
  height: 80px;
  width: 100%; }
  .down #logo {
    margin: 0 1em;
    animation: logoTranslationLeft 1s ease-out 0s 1 normal forwards; }
  .down div .show {
    background-color: rgba(255, 255, 247, 0.8);
    transform: translateX(-2em) translateY(5em);
    opacity: 1; }

@keyframes logoTranslationLeft {
  0% {
    transform: translateX(-5em);
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    transform: translateX(0em);
    opacity: 1; } }

@keyframes logoTranslationTop {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

header {
  z-index: 99999;
  transition: 1s;
  height: 120px;
  position: fixed;
  width: 100%;
  background-color: #fffff7;
  min-height: 4em;
  padding: 0 0 10px 0;
  display: flex;
  margin-top: 5vh;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 0px 2px 19px -6px black;
  -webkit-box-shadow: 0px 2px 19px -6px black;
  -moz-box-shadow: 0px 2px 19px -6px black; }
  header #logo {
    animation: logoTranslationTop 1.7s ease-in-out 0s 1 normal forwards;
    padding: .5em 0;
    width: 15%;
    margin: auto;
    max-width: 5.5em;
    min-width: 4em; }
    header #logo img {
      width: auto;
      transition: 1s; }
    header #logo img:hover {
      cursor: pointer;
      transition: 1s;
      transform: rotateZ(5deg) scale(1.1); }
  header div {
    display: flex;
    justify-content: center;
    width: 100%; }
    header div #menuContainer {
      width: 0; }
      header div #menuContainer #menu {
        display: none; }
      header div #menuContainer #menu, header div #menuContainer #menu::before, header div #menuContainer #menu::after {
        margin: auto;
        height: 5px;
        border-radius: 25%;
        width: 2em;
        border: none; }
      header div #menuContainer .open {
        transition: .5s;
        background-color: #242424; }
      header div #menuContainer .open::before, header div #menuContainer .open::after {
        background: inherit; }
      header div #menuContainer .open::before {
        transform: translateY(-10px); }
      header div #menuContainer .open::after {
        transform: translateY(10px); }
      header div #menuContainer .open::before, header div #menuContainer .open::after, header div #menuContainer .close::before, header div #menuContainer .close::after {
        content: '';
        position: absolute;
        transition: .3s; }
      header div #menuContainer .close {
        background-color: rgba(36, 36, 36, 0); }
      header div #menuContainer .close::before, header div #menuContainer .close::after {
        background-color: #242424; }
      header div #menuContainer .close::before {
        transform: translateY(0px) rotateZ(-45deg); }
      header div #menuContainer .close::after {
        transform: translateY(0px) rotateZ(45deg); }
    header div .animated {
      animation: logoTranslationTop 1s linear 0s 1 normal forwards; }
    header div nav {
      display: flex;
      margin: auto;
      height: 34.6px;
      width: 100%;
      max-width: 60em;
      justify-content: center; }
      header div nav ul {
        font-size: 1em;
        font-weight: 400;
        border-radius: 0px 0px 0px 10%;
        padding: 0;
        display: flex;
        flex-direction: row;
        list-style: none;
        width: 100%;
        max-width: 60em;
        justify-content: space-evenly;
        margin: auto;
        transition: 1s; }
        header div nav ul li {
          display: flex;
          text-align: center; }
          header div nav ul li a {
            color: inherit;
            display: inline;
            width: 100%;
            padding: .5em; }
        header div nav ul li:hover {
          cursor: pointer;
          border-top: 1.2px solid black;
          border-bottom: 1.2px solid black; }

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: .8em 0 1em 0;
  margin: 0;
  background-color: #fffff7; }
  footer div {
    font-size: 1.02em;
    display: flex;
    justify-content: flex-start;
    width: 30%;
    min-height: 6.3em;
    min-width: 12em;
    flex-direction: column; }
    footer div h3 {
      text-align: center;
      width: 100%;
      border-bottom: 2px solid black;
      text-transform: uppercase;
      font-weight: lighter; }
    footer div div {
      margin: 0 auto;
      width: 80%;
      font-size: .97em; }
  footer #social a, footer #address a {
    height: auto;
    padding: .5rem; }
    footer #social a span, footer #address a span {
      font-size: 1.7rem; }
  footer #social div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start; }
  footer #contact a {
    padding: .6em 0;
    text-align: center;
    border: 1px solid black;
    font-weight: bold;
    transition: .3s;
    font-size: 1.2rem; }
  footer #contact a:hover {
    transition: .3s;
    background-color: #242424;
    color: #fffff7; }
  footer #address div {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch; }
    footer #address div a:nth-child(2) {
      margin: 1rem 0; }
    footer #address div a {
      display: flex;
      align-items: center; }
      footer #address div a span {
        margin-right: 1.5rem; }

@media only screen and (max-width: 650px) and (min-width: 0px) {
  footer {
    flex-direction: column;
    justify-content: space-between; }
    footer div {
      margin: auto;
      width: 80%; } }

@media only screen and (max-width: 500px) and (min-width: 0px) {
  header {
    padding: 0;
    flex-direction: row;
    height: 80px;
    justify-content: space-between;
    z-index: 9999; }
    header #logo {
      margin: 0 1em; }
    header div {
      width: auto;
      margin: 0 .5em; }
      header div #menuContainer {
        width: auto; }
        header div #menuContainer #menu {
          display: flex; }
      header div .animated {
        animation-name: none; }
      header div nav {
        height: auto;
        position: absolute;
        width: 10em; }
        header div nav ul {
          height: auto;
          position: absolute;
          flex-direction: column; }
          header div nav ul li {
            justify-content: center;
            margin: .5em 0; }
        header div nav .show {
          background-color: #fffff7;
          transform: translateX(-2em) translateY(5em);
          opacity: 1;
          box-shadow: 0px 12px 19px -15px black;
          -webkit-box-shadow: 0px 12px 19px -15px black;
          -moz-box-shadow: 0px 12px 19px -15px black; }
        header div nav .hiden {
          transform: translateX(10em) translateY(2em);
          opacity: 0; } }

@font-face {
  font-family: "icomoon";
  src: url("../../fonts/icomoon.eot?csxpeq");
  src: url("../../fonts/icomoon.eot?csxpeq#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?csxpeq") format("truetype"), url("../../fonts/icomoon.woff?csxpeq") format("woff"), url("../../fonts/icomoon.svg?csxpeq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-facebook:before {
  content: "";
  color: #1877f2; }

.icon-gmail:before {
  content: "";
  color: #d14836; }

.icon-d1:before {
  content: ""; }

.icon-d2:before {
  content: ""; }

.icon-d3:before {
  content: ""; }

.icon-d4:before {
  content: ""; }

.icon-LOGO:before {
  content: ""; }

.icon-pencil:before {
  content: ""; }

.icon-image:before {
  content: ""; }

.icon-images:before {
  content: ""; }

.icon-folder-upload:before {
  content: ""; }

.icon-phone:before {
  content: ""; }

.icon-location {
  color: #1856ff; }
  .icon-location:before {
    content: ""; }

.icon-location2:before {
  content: ""; }

.icon-cross:before {
  content: ""; }

.icon-checkmark:before {
  content: ""; }

.icon-facebook1:before {
  content: ""; }

.icon-instagram {
  color: #ff3434; }
  .icon-instagram:before {
    content: ""; }

* {
  font-family: varta; }

body {
  background-color: lightblue;
  position: relative;
  overflow-x: hidden; }
  body a {
    text-decoration: none;
    color: #242424; }
  body #cosa {
    height: 1000px; }

/*# sourceMappingURL=style.css.map */