@import "./sass_files/_variables.scss";
@import "./sass_files/_header_footer.scss";
@import "./sass_files/_icomoon.scss";

*{
    font-family: varta;
}
body{
    a{
        text-decoration: none;
        color: $hamburger-color;
    }
    background-color: lightblue;
    position: relative;
    overflow-x: hidden;
    #cosa{
        height: 1000px;
    }
}