@import "./sass_files/_variables.scss";
@import "./sass_files/_header_footer.scss";
@import "./sass_files/_icomoon.scss";
@import "./sass_files/_menu.scss";

*{
    font-family: varta;
    a{
        text-decoration: none;
        color: $hamburger-color;
    }
}
body{
    background-color: lightblue;
    overflow-x: hidden;
}